body 
{ background-color: rgb(161, 161, 211);
font-family:'Times New Roman', Times, serif;
text-align: center;
font-size: 30px;}
#right-column

    {
    
    float: right ;}

#img {
    border: dashed 3px black;
    width: 400;
    height: 300;
    
}